body {
  margin: 0px;
  padding: 0px;
}

.Nav {
  padding: 20px;

  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.Search input {
  border-radius: 50px;
  width: 500px;
  height: 30px;
  padding: 8px 20px;
  font-family: sans-serif;
  font-size: 22px;
  margin: 0px;
}

.icon {
  height: 200px;
  width: 200px;
}
.Btn button {
  height: 50px;
  width: 100px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin: 10px;
  border-radius: 50px;
  background-color: #f2711c;
}
